@page "/"
<h1>DDSoft vzw presenteert:</h1>
<img src="logo.png"/>
<h2>Ik verveel mij...</h2>
<div id="content">
    @ContentToShow
</div>
<button class="button" @onclick="Next">En nu...</button>
<p>
    <a class="link" href="https://www.trooper.be/ddsoft">Verken Trooper!</a>
</p>
