@using IkVerveelMij.Model
@using IkVerveelMij.Services
@inject ITalksService talksService

<h3>@Title</h3>
@foreach(var t in talksService.GetAllTalks())
{
	<SingleTalk Talk="@t"/>
}

@code{
	[Parameter]
	public string Title { get; set; }
}

